configuration{
    modes: "drun";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
}

@theme "dracula-config1.rasi"

