* {
    font-family: FiraCode Nerd Font Propo;
    font-size: 16px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;    
}

window#waybar {
    background-color: @bar-bg-color;
}

#battery,
#power-profiles-daemon,
#clock,
#load,
#memory,
#backlight,
#network,
#pulseaudio,
#mode,
#bluetooth,
#taskbar button,
#tray,
#custom-power,
#gamemode
{
    padding: 0px 8px;
    background-color: @bg-dark;
    color: @cyan;
}

#tray {
    background-color: @tray-bg-color;
    color: @tray-fg-color;
}

#custom-power {
    color: @red;
}

#battery.discharging.warning {
    box-shadow: inset 0 -3px @orange;
}

#battery.discharging.critical {
    box-shadow: inset 0 -3px @red;
}

#taskbar button.active {
    background-color: @selected-bg-color;
    color: @selected-fg-color;
    box-shadow: inset 0 -3px @accent-color;
    font-weight: bold;

}


#bluetooth.disabled
#bluetooth.off
#bluetooth.no-controller {
    color: @comment;
}


#workspaces button,
#mode {
    padding: 5px 8px;
    background-color: transparent;
    color: @selected-fg-color;
}

#workspaces button:hover,
#workspaces button.focused {
    background-color: @selected-bg-color;
    color: @selected-fg-color;
    box-shadow: inset 0 -3px @accent-color;
    font-weight: bold;
}

@import url("styleoptions.css");
