@import "./themes/dracula.css";

/* Global */
* {
  font-family: "FiraCode Nerd Font";
  font-size: 1rem;
  border-radius: 1.2rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: shade(@background-darker, 0.9);
  color: @foreground;
}

@keyframes blink_red {
  to {
    background-color: @red;
    color: @background-darker;
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode, #clock, #memory, #temperature, #cpu, #custom-weather,
#mpd, #idle_inhibitor, #backlight, #pulseaudio, #network, 
#battery, #custom-powermenu, #custom-cava-internal, #group-powermenu, #custom-power,
#custom-reboot, #custom-lock,
#custom-launcher, #tray, #disk, #custom-pacman, #custom-scratchpad-indicator {
  padding-left: .6rem;
  padding-right: .6rem;
}

/* Bar */
window#waybar {
  background-color: transparent;
}

window > box {
  background-color: transparent;
  margin: .3rem;
  margin-bottom: 0;
}


/* Workspaces */
#workspaces:hover {
  background-color: @green;
}

#workspaces button {
  padding-right: .4rem;
  padding-left: .4rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  color: @selection;
  /* border: .2px solid transparent; */
  background: transparent;
}

#workspaces button.focused {
  color: @pink;
}

#workspaces button:hover {
  /* border: .2px solid transparent; */
  color: @foreground;
}

/* Tooltip */
tooltip {
  background-color: @background-darker;
}

tooltip label {
  color: @foreground;
}
