*{
	border-radius: 3px;
	border: none;
}

window {
	font-size: 20px;
	font-family: "Roboto Mono Medium", sans-serif;
	background-color: #002b36;
	color: #839496;
	border-bottom: 3px solid #586e75;
}

#entry{
	padding: .25em;
}

#entry:selected {
	background-color: #073642;
	color: #93a1a1;
}

#text:selected {
	color: #93a1a1;
}

#input {
	background-color: #002b36;
	color: #93a1a1;
	padding: .25em;
}

image{
	margin-left: .25em;
	margin-right: .25em;
}
